@charset "UTF-8";
/* ブレークポイント*/ /* カラー設定*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  letter-spacing: normal;
  font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "MS P明朝", "MS PMincho", serif;
}

img {
  width: 100%;
  vertical-align: bottom;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: upright;
  -webkit-writing-mode: vertical-rl;
}

/* flatpickr
-------------------------*/
.flatpickr-calendar .flatpickr-innerContainer .flatpickr-weekdays .flatpickr-weekday:nth-child(7n+1),
.flatpickr-calendar .flatpickr-innerContainer .flatpickr-days .flatpickr-day:not(.flatpickr-disabled):not(.prevMonthDay):not(.nextMonthDay):nth-child(7n+1) {
  color: #fe6352;
}

.flatpickr-calendar .flatpickr-innerContainer .flatpickr-weekdays .flatpickr-weekday:nth-child(7),
.flatpickr-calendar .flatpickr-innerContainer .flatpickr-days .flatpickr-day:not(.flatpickr-disabled):not(.prevMonthDay):not(.nextMonthDay):nth-child(7n) {
  color: #5290fe;
}

/* header
---------------------------------------*/
.header {
  width: 100%;
  z-index: 999;
  position: absolute;
  top: 0;
}
.header__inner {
  display: flex;
  align-items: center;
  padding: 20px;
}

.logo {
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 15px;
  transition: 0.2s;
}
.logo:hover {
  opacity: 0.8;
  transition: 0.2s;
}
.logo__img-wrapper {
  width: 40px;
}
.logo__img {
  width: 40px;
  height: 40px;
  display: block;
  background-image: url(../../img/white_logo.svg);
}
.logo__img:hover {
  background-image: url(../../img/black_logo.svg);
}
.logo__title {
  font-size: 2rem;
  letter-spacing: 0.18em;
}

.nav {
  margin-left: 115px;
}
.nav__list {
  display: flex;
  gap: 30px;
}
.nav__item {
  transition: 0.2s;
}
.nav__item:hover {
  opacity: 0.8;
  transition: 0.2s;
}

.reserve-btn {
  margin-left: auto;
  display: inline-block;
  width: 170px;
  height: 54px;
  background-color: #978F10;
  position: relative;
}
.reserve-btn__title {
  display: inline-block;
  margin-left: 69px;
}
.reserve-btn__title::before {
  content: url("../img/calender.svg");
  width: 22px;
  height: 22px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 37px;
}
.reserve-btn__title::after {
  content: "";
  width: 72px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 38px;
  left: 65px;
  transform: scaleX(0);
  transition: 0.3s;
}

.reserve-btn:hover > .reserve-btn__title::after {
  transition: 0.3s;
  transform: scaleX(1);
}

.header-fixed {
  position: fixed;
  background-color: #fff;
  color: #000;
}

.no-scroll {
  overflow: hidden;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  transition: 0.8s;
}

/* form
---------------------------------------*/
.form {
  width: 550px;
  height: 600px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;
  margin: auto;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: 0.8s;
}
.form__title {
  font-size: 1.25rem;
  margin-top: 29px;
  text-align: center;
}
.form__inner {
  width: 429px;
  margin: 25.5px auto;
  border-top: 1px solid #e7e7e7;
  padding-top: 21.5px;
  position: relative;
}

.modal-open {
  visibility: visible;
  opacity: 1;
}

.close-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  background-image: url(../../img/close.svg);
  top: 20px;
  right: 22px;
  transition: 0.2s;
}
.close-icon:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.form-box label,
.form-box .form-input {
  display: block;
  margin-top: 13px;
}
.form-box label:focus,
.form-box .form-input:focus {
  outline: none;
  border: 2px solid #978F10;
}
.form-box .form-input {
  width: 100%;
  padding: 7px 10px;
  border: 1px solid #e7e7e7;
  font-size: 0.875rem;
  cursor: pointer;
}
.form-box label {
  cursor: default;
}

.label-inner {
  font-size: 0.875rem;
}

.selectbox {
  color: gray;
}

.selectdate {
  position: relative;
}
.selectdate::after {
  content: url(../../img/require.svg);
  width: 16px;
  height: 16px;
  display: inline-block;
  position: absolute;
  left: 70px;
  display: none;
}

.btn-wrapper {
  display: block;
  text-align: center;
  margin: 62px auto 0;
  border: 1px solid #070707;
  position: relative;
  width: 198px;
  position: relative;
  overflow: hidden;
}
.btn-wrapper::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #978F10;
  display: inline-block;
  position: absolute;
  transform: translateX(-100%);
  transition: 0.3s;
  z-index: -1;
}
.btn-wrapper:hover {
  color: #fff;
  border-color: #978F10;
}
.btn-wrapper:hover::before {
  transition: all 0.4s ease-out;
  transform: none;
}
.btn-wrapper .btn--form {
  display: inline-block;
  width: 100%;
  padding: 10px 0;
  transition: 0.3s;
}

/* fv
---------------------------------------*/
.fv {
  height: 100vh;
  width: 100%;
  color: #fff;
  position: relative;
}
.fv__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 46px;
  position: absolute;
  top: 33.5%;
  left: 65.3%;
}
.fv__text {
  font-size: 2.125rem;
  letter-spacing: 0.24em;
  z-index: 10;
}

@keyframes zoomUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}
.swiper {
  position: absolute;
  z-index: -10;
  top: 0;
  left: 0;
}

.swiper-slide-active .swiper-img,
.swiper-slide-duplicate-active .swiper-img,
.swiper-slide-prev .swiper-img {
  animation: zoomUp 7s linear 0s normal both;
}

.swiper-slide img {
  height: 100vh;
  background-position: center;
  background-size: cover;
}

/* consept
---------------------------------------*/
.consept {
  width: 100%;
  background-image: url(../../img/paper-bg.jpg);
  padding: 149px 0 119px;
}
.consept__inner {
  display: flex;
  gap: 7.1875rem;
  justify-content: center;
  flex-direction: row-reverse;
  width: 90%;
  margin: 0 auto;
}
.consept__title-wrapper {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.consept__title {
  font-size: 1.75rem;
  letter-spacing: 0.5em;
}
.consept__title:first-child {
  margin-top: -85px;
}
.consept__body-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.consept__body {
  letter-spacing: 0.38em;
}
.consept__signature {
  font-size: 1.375rem;
  text-align: end;
  margin-bottom: 20px;
  letter-spacing: 0.45em;
}/*# sourceMappingURL=style.css.map */