@use "variables" as v;
@use "mixin" as m;
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-size: m.rem(16);
  letter-spacing: normal;
  color: v.color(main);
  font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho",
    "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E",
    "MS P明朝", "MS PMincho", serif;
}
.main {
  overflow: hidden;
}
img {
  width: 100%;
  vertical-align: bottom;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}
.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: upright;
  -webkit-writing-mode: vertical-rl;
  &--consept {
    writing-mode: vertical-rl;
    text-orientation: upright;
    -webkit-writing-mode: vertical-rl;
    @media screen and (max-width: 599px) {
      writing-mode: horizontal-tb;
      text-orientation: upright;
      -webkit-writing-mode: horizontal-tb;
    }
  }
}
.section-top {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  &__img-wrapper {
    width: 40px;
    height: 40px;
    margin: 0 auto;
  }
  &__title {
    font-size: m.responsiveSizeClamp(28, 36, 320, 767);
    margin-top: 20px;
  }
}
.dots {
  font-family: caption;
}
.dark-cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0.08;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: #000;
  }
}
.pc-br {
  &--plan1 {
    @media screen and (min-width: 1000px) and (max-width: 1215px) {
      display: none;
    }
    @include m.mq(sp) {
      display: none;
    }
  }
  &--plan2 {
    @media screen and (min-width: 1000px) and (max-width: 1164px) {
      display: none;
    }
    @include m.mq(sp) {
      display: none;
    }
  }
  &--plan3 {
    @include m.mq(sp) {
      display: none;
    }
  }
}
.sp-br {
  display: none;
  @include m.mq(sp) {
    display: block;
  }
}
