@use "../mixin" as m;
@use "../variables" as v;
@use "../base" as b;
/* header
---------------------------------------*/
.header {
  width: 100%;
  z-index: 100;
  position: absolute;
  top: 0;
  &__inner {
    display: flex;
    align-items: center;
    padding: 13px 20px;
  }
}
.logo {
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 15px;
  color: #fff;
  transition: 0.2s;
  @include m.mq(sp) {
    gap: clamp(0.625rem, 0.401rem + 1.12vw, 0.938rem);
  }
  &:hover {
    opacity: 0.8;
    transition: 0.2s;
  }
  &__img-wrapper {
    width: 40px;
    aspect-ratio: 1/1;
    @include m.mq(sp) {
      width: clamp(1.875rem, 1.428rem + 2.24vw, 2.5rem);
    }
  }
  &__img {
    width: 100%;
    height: 100%;
    display: block;
    background-image: url(../img/white_logo.svg);
    background-size: cover;
    background-position: center;
  }
  &__title {
    font-size: m.rem(32);
    letter-spacing: 0.18em;
    @include m.mq(sp) {
      font-size: clamp(1.375rem, 0.928rem + 2.24vw, 2rem);
    }
  }
}
.nav {
  margin-left: 115px;
  @include m.mq(tab) {
    margin-left: clamp(2.5rem, -4.545rem + 14.68vw, 7.188rem);
  }
  @include m.mq(sp) {
    margin: 0;
    position: fixed;
    z-index: 20;
    top: 0;
    right: 0;
    width: clamp(13.75rem, 6.367rem + 36.91vw, 24.063rem);
    height: 50vh;
    background-color: #000;
    transition: all 0.5s;
    transform: translateX(100%);
    &.menu-open {
      transform: translateX(0);
      z-index: 200;
    }
    &.white-nav {
      background-color: #fff;
    }
  }
  &__list {
    display: flex;
    gap: 30px;
    @include m.mq(sp) {
      gap: 5vh;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__item {
    position: relative;
    color: #fff;
    &::after {
      content: "";
      width: 120%;
      height: 2px;
      background-color: #fff;
      position: absolute;
      top: 110%;
      left: -10%;
      transform: scaleX(0);
      transition: 0.2s;
    }
    &:hover {
      &::after {
        transition: 0.2s;
        transform: scaleX(1);
      }
    }
  }
}
.reserve-btn {
  margin-left: auto;
  display: inline-block;
  width: 170px;
  aspect-ratio: 170/54;
  background-color: v.color(btn);
  @include m.mq(sp) {
    margin-right: 9vw;
    width: clamp(5.625rem, 2.046rem + 17.9vw, 10.625rem);
  }
  &__title {
    display: inline-block;
    margin-left: 40.59%;
    color: #fff;
    position: relative;
    @include m.mq(sp) {
      font-size: clamp(0.75rem, 0.571rem + 0.89vw, 1rem);
    }
    &::before {
      content: "";
      background-image: url("../img/calender.svg");
      background-size: cover;
      background-position: center;
      width: 22px;
      aspect-ratio: 1/1;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -50%;
      @include m.mq(sp) {
        width: clamp(1rem, 0.732rem + 1.34vw, 1.375rem);
      }
    }
    &::after {
      content: "";
      width: 110%;
      height: 2px;
      background-color: #fff;
      position: absolute;
      bottom: -15%;
      left: -5%;
      transform: scaleX(0);
      transition: 0.3s;
    }
  }
}
.reserve-btn:hover > .reserve-btn__title::after {
  transition: 0.3s;
  transform: scaleX(1);
}

// 固定ヘッダー
.fixed {
  position: fixed;
  background-color: #fff;
  .logo__title,
  .nav {
    color: #000;
    &__item {
      position: relative;
      color: #000;
      &::after {
        content: "";
        width: 120;
        height: 2px;
        background-color: #303030;
        position: absolute;
        top: 110%;
        left: -10%;
        transform: scaleX(0);
        transition: 0.2s;
      }
      &:hover {
        &::after {
          transition: 0.2s;
          transform: scaleX(1);
        }
      }
    }
  }
  .logo {
    transition: 0.2s;
    &:hover {
      opacity: 0.6;
      transition: 0.2s;
    }
    &__img {
      background-image: url(../img/black_logo.svg);
    }
  }

  @keyframes header-anime {
    0% {
      margin-top: -80px;
    }
    100% {
      margin: 0;
    }
  }
  @keyframes header-anime-remove {
    0% {
      margin: 0;
    }
    100% {
      margin-top: -80px;
      opacity: 0;
    }
  }
}

//　ハンバーガーメニュー
.burger-btn {
  display: none;
}
@include m.mq(sp) {
  .burger-btn {
    z-index: 201;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 4vw;
    transition: 0.3s;
    .bar {
      display: block;
      height: 3px;
      width: 30px;
      border-radius: 5px;
      background-color: #fff;
      transition: 0.3s;
      margin-bottom: 8px;
      position: relative;

      &-top,
      &-bottom {
        top: 0;
        transform: rotate(0);
        transition: top 0.25s 0.2s, transform 0.25s;
      }
      &-mid {
        transition: transform 0.25s;
      }
      &-bottom {
        margin-bottom: 0;
      }
      &.black-bar {
        background-color: #000;
      }
    }

    &.btn-open {
      z-index: 201;
      .bar-top {
        top: 11px;
        transform: rotate(45deg);
        transition: top 0.5s, transform 0.2s 0.3s;
      }
      .bar-mid {
        transform: rotate(45deg);
        transition: transform 0.2s 0.3s;
      }
      .bar-bottom {
        top: -11px;
        transform: rotate(-45deg);
        transition: top 0.5s, transform 0.2s 0.3s;
      }
    }
  }
}
