@use "../mixin" as m;
@use "../variables" as v;
@use "../base" as b;

.no-scroll {
  overflow: hidden;
}
.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 150;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: 0.8s;
  &--reserve {
    background-color: rgba(0, 0, 0, 0.6);
  }
  &--nav {
    background: rgba(123, 123, 123, 0.5);
  }
}
/* form
---------------------------------------*/
.form {
  width: 550px;
  height: 600px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 150;
  margin: auto;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: 0.8s;
  @include m.mq(sp) {
    max-width: 90%;
    height: clamp(34.375rem, 32.138rem + 11.19vw, 37.5rem);
  }
  &__title {
    font-size: m.rem(20);
    margin-top: 29px;
    text-align: center;
  }
  &__inner {
    width: 429px;
    margin: 25.5px auto;
    border-top: 1px solid #e7e7e7;
    padding-top: 21.5px;
    position: relative;
    @include m.mq(sp) {
      max-width: 90%;
    }
  }
}
.modal-open {
  visibility: visible;
  opacity: 1;
}
.close-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  background-image: url(../img/close.svg);
  top: 20px;
  right: 22px;
  transition: 0.2s;
  &:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
}
.form-box {
  label,
  .form-input {
    display: block;
    margin-top: 13px;
    &:focus {
      outline: none;
      border: 2px solid v.color(btn);
    }
  }
  .form-input {
    width: 100%;
    padding: 7px 10px;
    border: 1px solid #e7e7e7;
    font-size: m.rem(14);
    cursor: pointer;
  }
  label {
    cursor: default;
    @include m.mq(sp) {
      font-size: clamp(0.875rem, 0.786rem + 0.45vw, 1rem);
    }
  }
}
.label-inner {
  font-size: m.rem(14);
  @include m.mq(sp) {
    display: block;
    margin-top: 8px;
  }
}
.selectbox {
  color: gray;
}
.selectdate {
  position: relative;
  &::after {
    content: url(../img/require.svg);
    width: 16px;
    height: 16px;
    display: inline-block;
    position: absolute;
    left: 70px;
    display: none;
  }
}
.btn-wrapper {
  display: block;
  text-align: center;
  margin: 62px auto 0;
  border: 1px solid #070707;
  position: relative;
  width: 198px;
  position: relative;
  overflow: hidden;
  @include m.mq(sp) {
    margin-top: clamp(2.5rem, 1.516rem + 4.92vw, 3.875rem);
  }
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: v.color(btn);
    display: inline-block;
    position: absolute;
    transform: translateX(-100%);
    transition: 0.3s;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    border-color: v.color(btn);
    &::before {
      transition: all 0.4s ease-out;
      transform: none;
    }
  }

  .btn--form {
    display: inline-block;
    width: 100%;
    padding: 10px 0;
    transition: 0.3s;
  }
}
