@use "../mixin" as m;
@use "../variables" as v;
@use "../base" as b;

/* 下層ページ/固定ヘッダー
---------------------------------------*/
.under-main {
  padding-top: 80px;
  @include m.mq(sp) {
    padding-top: clamp(3.5rem, 2.426rem + 5.37vw, 5rem);
  }
}
.under-header {
  width: 100%;
  z-index: 100;
  position: fixed;
  top: 0;
  background-color: #fff;
  &__inner {
    display: flex;
    align-items: center;
    padding: 13px 20px;
  }
  .logo__title,
  .nav {
    color: #000;
    &__item {
      color: #000;
      position: relative;
      &::after {
        content: "";
        width: 120%;
        height: 2px;
        background-color: #303030;
        position: absolute;
        top: 110%;
        left: -10%;
        transform: scaleX(0);
        transition: 0.2s;
      }
      &:hover {
        &::after {
          transition: 0.2s;
          transform: scaleX(1);
        }
      }
    }
  }
  .logo {
    transition: 0.2s;
    &:hover {
      opacity: 0.6;
      transition: 0.2s;
    }
    &__img {
      background-image: url(../img/black_logo.svg);
    }
  }
}

/* 下層ページ/fv
---------------------------------------*/
.under-fv {
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: cover;
  position: relative;
  &--room {
    background-image: url(../img/oheya-header.jpg);
  }
  &--food {
    background-image: url(../img/menu-header.jpg);
  }
  &--spa {
    background-image: url(../img/onsen-header.jpg);
  }
  &__title {
    color: #fff;
    font-size: m.rem(34);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* 下層ページ/セクションラッパー
---------------------------------------*/
.under-section-wrapper {
  width: 100%;
  padding: 0 30px;
  @include m.mq(sp) {
    padding: 0;
  }
}
.under-section-inner {
  max-width: 1180px;
  margin: 0 auto;
}

/* パンくずリスト
---------------------------------------*/
.breadcrumb {
  display: flex;
  margin-top: 36px;
  @include m.mq(sp) {
    padding: 0 4vw;
  }
  &__item {
    &::after {
      content: ">";
      margin: 0 4px;
    }
    &:last-child {
      &::after {
        content: "";
      }
    }
  }
  &__link {
    border-bottom: 1px solid #000;
    padding-bottom: 2px;
    transition: 0.3s;
    &:hover {
      opacity: 0.6;
    }
  }
}

/* 下層ページ/sub-contents
---------------------------------------*/
.sub-contents {
  width: 100%;
  padding: 97px 0 209px;
  overflow-x: hidden;
  @include m.mq(tab) {
    padding-bottom: 350px;
  }
  @include m.mq(sp) {
    padding: m.responsiveSizeClamp(50, 97, 320, 767) 0
      m.responsiveSizeClamp(60, 209, 320, 767);
  }
  &--spa {
    padding-bottom: 96.5px;
  }
  &__lead {
    text-align: center;
    @include m.lineHeight(2);
    @include m.mq(sp) {
      padding: 0 4vw;
      text-align: start;
      font-size: m.responsiveSizeClamp(14, 16, 320, 767);
    }
  }
  &__inner {
    display: flex;
    margin-top: 140px;
    @include m.mq(tab) {
      margin-top: m.responsiveSizeClamp(300, 350, 768, 1279);
      justify-content: center;
    }
    @include m.mq(sp) {
      height: m.responsiveSizeClamp(400, 450, 320, 767);
      position: relative;
      flex-direction: column;
      width: 100%;
      margin-top: m.responsiveSizeClamp(30, 60, 320, 767);
    }
    &:nth-of-type(1) {
      margin-top: 78px;
    }
    &:nth-of-type(2) {
      flex-direction: row-reverse;
    }
  }
  &__img-wrapper {
    width: 44.5%;
    position: relative;
    z-index: 1;
    @include m.mq(tab) {
      width: m.responsiveSizeClamp(450, 525, 768, 1279);
    }
    @include m.mq(sp) {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
  &__img {
    aspect-ratio: 525/300;
    @include m.mq(sp) {
      aspect-ratio: auto;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__body {
    display: flex;
    flex-direction: column;
    gap: 52px;
    position: relative;
    top: 56px;
    width: 68.9%;
    aspect-ratio: 813/381;
    padding: 60px 20px 20px 0;
    background-image: url(../img/paper-bg.jpg);
    background-position: center;
    background-size: cover;
    @include m.mq(tab) {
      width: 60%;
      top: 200px;
      padding: m.responsiveSizeClamp(60, 150, 768, 1279) 40px 40px 40px;
      gap: m.responsiveSizeClamp(30, 52, 768, 1279);
    }
    @include m.mq(sp) {
      margin: auto;
      top: 0;
      transform: translate(-50%, -50%);
      z-index: 30;
      background-image: none;
      width: 100%;
      height: 100%;
      gap: m.responsiveSizeClamp(30, 52, 320, 767);
      justify-content: center;
      color: #fff;
      text-shadow: 1px 1px 3px #303030;
    }
    &--normal {
      margin-left: -13.4%;
      padding-left: 20.2%;
      @include m.mq(tab) {
        padding-left: m.responsiveSizeClamp(70, 100, 768, 1279);
      }
      @include m.mq(sp) {
        margin: 0;
        padding: m.responsiveSizeClamp(30, 60, 320, 767);
      }
    }
    &--reverse {
      margin-right: -13.4%;
      padding-left: 5.1%;
      @include m.mq(sp) {
        margin: 0;
        padding: m.responsiveSizeClamp(30, 60, 320, 767);
      }
    }
  }
  &__title {
    font-size: m.rem(24);
  }
  &__text {
    margin-top: -2px;
    font-size: m.responsiveSizeClamp(14, 16, 320, 767);
    @include m.lineHeight(2);
    @media screen and (min-width: 768px) and (max-width: 1000px) {
      @include m.lineHeight(1.7);
    }
    @include m.mq(sp) {
      @include m.lineHeight(1.8);
    }
  }
  &__annotation {
    font-size: m.rem(14);
    @include m.lineHeight(1.5);
  }
}
.efficacy {
  margin-top: 214px;
  width: 100%;
  padding: 93.5px 0 73.5px;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  @include m.mq(sp) {
    margin: 100px auto 0;
    padding: m.responsiveSizeClamp(50, 70, 320, 767) 0;
    width: 90%;
  }
  &__inner {
    padding: 0 m.responsiveSizeClamp(20, 30, 320, 767);
  }
  &__title {
    font-size: m.rem(26);
    text-align: center;
  }
  &__list {
    max-width: 880px;
    margin: 48px auto 0;
    font-size: m.rem(15);
  }
  &__row {
    border-collapse: collapse;
    border-top: 1px solid #e7e7e7;
    padding: 13.3px 0;
    display: flex;
    @include m.lineHeight(1.47);
    &:last-child {
      border-bottom: 1px solid #e7e7e7;
    }
    @include m.mq(sp) {
      flex-direction: column;
      align-items: center;
      padding: 20px;
    }
  }
  &__head {
    width: 25%;
    font-weight: normal;
    font-size: m.rem(15);
    @include m.mq(sp) {
      text-align: center;
      border-bottom: 1px solid #000;
      width: auto;
      padding: 0 4px;
    }
  }
  &__text {
    width: 75%;
    font-size: m.responsiveSizeClamp(14, 15, 320, 767);
    @include m.mq(sp) {
      width: 90%;
      margin-top: 20px;
      text-align: center;
      @include m.lineHeight(1.5);
    }
  }
}
